<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>
    <div class="asheuh-sidenav">
        <div id="brand">
            <h3 class="side-link"><a href="home.html">M&#x2606;Tracker</a></h3>
        </div>
        <div id="logo">
            <img src="../../static/images/logo-ex-7.png">
        </div>

        <ul class="menu">
            <li><a href="#" style="" class="side-link link active"><i class="ha wa fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li class="dropdown-btn side-link link"><a href="#"><i class="ha wa fas fa-bell"></i> Requests<i style="float: right;" class="fas fa-caret-down"></i></a></li>
            <div class="dropdown-container">
                <ul>
                    <li><a href="request_list.html">All</a></li>
                    <li><a href="approved.html">Approved</a></li>
                    <li><a href="rejected.html">Rejected</a></li>
                    <li><a href="resolved.html">Resolved</a></li>
                    <li><a href="create.html">Create request</a></li>
                </ul>
            </div>
            <li><a href="users.html" class="side-link link"><i class="ha wa fas fa-users"></i> Users</a></li>
            <li><a href="contact.html" class="side-link link"><i class="ha wa fas fa-comment"></i> Contact us</a></li>
            <li><a href="profile.html" class="side-link link"><i class="ha wa fas fa-user-circle"></i> My account</a></li>
        </ul>
        <footer>
            <div class="social-icons">
                <a href="#"><i class="ha fab fa-facebook-square"></i></a>
                <a href="#"><i class="ha fab fa-instagram"></i></a>
                <a href="#"><i class="ha fab fa-twitter-square"></i></a>
                <a href="#"><i class="ha fab fa-linkedin-in"></i></a>
                <a href="#"><i class="ha fab fa-google-plus-square"></i></a>
            </div>
        </footer>
    </div>
    <nav class="asheuh-navbar">
        <div class="asheuh-nav-header">
            <ul class="topnav">
                <li>
                    <a href="home.html">MTracker<sup><small >2018</small></sup></a>
                </li>
                <li class="right"><a href="../mains/login.html"><i class="ha fas fa-sign-out-alt"></i> Logout</a></li>
                <li class="right"><a href="#"><i class="ha fas fa-user"></i> Username</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="asheuh-container">
            <div class="grid-4">
                <div>
                    <div class="card">
                        <div class="head">Available Requests
                            <a class="col-4 fas fa-bell" href="# ">
                                <span class="fa fa-comment"></span>
                                <span class="num">1</span>
                            </a>
                        </div>
                        <div class="count">200</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="head">
                            Approved requests
                        </div>
                        <div class="count">5</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="head">
                            Rejected requests
                        </div>
                        <div class="count">1</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="head">
                            Resolved requests
                        </div>
                        <div class="count">3</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-2">
                <div class="first">
                    <hr>
                    <h2>In the last 2 weeks</h2>
                    <div class="grid-2">
                        <div class="this-container">
                            <div class="head">
                                Malware and drive by requests
                            </div>
                            <div class="count">1</div>
                        </div>
                        <div>
                            <div class="bar">
                                <div class="pops mal">1%</div>
                            </div>
                        </div>
                    </div><br>
                    <div class="grid-2">
                        <div class="this-container">
                            <div class="head">
                                Disruction requests
                            </div>
                            <div class="count">3</div>
                        </div>
                        <div>
                            <div class="bar">
                                <div class="pops dis">3%</div>
                            </div>
                        </div>
                    </div><br>
                    <div class="grid-2">
                        <div class="this-container">
                            <div class="head">
                                Command and control requests
                            </div>
                            <div class="count">10</div>
                        </div>
                        <div>
                            <div class="bar">
                                <div class="pops command">10%</div>
                            </div>
                        </div>
                    </div><br>
                    <div class="grid-2">
                        <div class="this-container">
                            <div class="head">
                                Phishing requests
                            </div>
                            <div class="count">40</div>
                        </div>
                        <div>
                            <div class="bar">
                                <div class="pops phish">40%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first">
                    <div class="no">
                        <hr>
                        <h2>Top security events</h2>
                        <div class="events">
                            <h4>By Domain</h4>
                            <div class="grid-2 top">
                                <p>Domain</p>
                                <p>Request</p>
                            </div>
                            <hr style="margin-top: 0.2em;">
                            <p style="text-align:center;">No data for this period yet</p>
                        </div>
                        <div class="events">
                            <h4>By Identity</h4>
                            <div class="grid-2 top">
                                <p>Domain</p>
                                <p>Request</p>
                            </div>
                            <hr style="margin-top: 0.2em;">
                            <p style="text-align:center;">No data for this period yet</p>
                        </div>
                        <div class="new-container">
                            <h2>Deployment summary</h2>
                            <div class="grid-3">
                                <div class="summary">
                                    <h4>Networks</h4>
                                    <h1>0%</h1>
                                    <p>Active</p>
                                </div>
                                <div class="summary">
                                    <h4>Roaming clients</h4>
                                    <h1>0%</h1>
                                    <p>Active</p>
                                </div>
                                <div class="summary">
                                    <h4>Virtual Appliances</h4>
                                    <h1 class="hd">0%</h1>
                                    <p class="hd">Active</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
    <script src="../../static/js/app.js"></script>
</body>

</html