<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <script src="../../static/js/app.js"></script>
</head>

<body>
    <div w3-include-html="menu.html"></div>
    <script>
        includeHTML();
    </script>
   <div class="content">
        <div class="asheuh-container">
            <div class="grid-4">
                <div>
                    <div class="card">
                        <div class="head">Available Requests
                            <a class="col-4 fas fa-bell" href="# ">
                                <span class="fa fa-comment"></span>
                                <span class="num">1</span>
                            </a>
                        </div>
                        <div class="count">200</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="head">
                            Approved requests
                        </div>
                        <div class="count">5</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="head">
                            Rejected requests
                        </div>
                        <div class="count">1</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="head">
                            Resolved requests
                        </div>
                        <div class="count">3</div>
                        <div class="style-row" style="text-align:center;">
                            <div class="grid-3">
                                <a class="col-4" href="request_list.html">Preview</a>
                                <a class="col-4" href="# ">Bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-4">
                <div class="first">
                    <hr>
                    <h2>In the last 2 weeks</h2>
                    <div class="grid-1">
                        <div class="this-container">
                            <div class="head">
                                Malware and drive by requests
                            </div>
                            <div class="count">60</div>
                            <div class="bar">
                                <div class="pops mal">60%</div>
                            </div><br>
                        </div>
                    </div><br>
                    <div class="grid-1">
                        <div class="this-container">
                            <div class="head">
                                Disruction requests
                            </div>
                            <div class="count">30</div>
                            <div class="bar">
                                <div class="pops dis">30%</div>
                            </div><br>
                        </div>
                    </div><br>
                    <div class="grid-1">
                        <div class="this-container">
                            <div class="head">
                                Command and control requests
                            </div>
                            <div class="count">50</div>
                            <div class="bar">
                                <div class="pops command">50%</div>
                            </div><br>
                        </div>
                    </div><br>
                    <div class="grid-1">
                        <div class="this-container">
                            <div class="head">
                                Phishing requests
                            </div>
                            <div class="count">40</div>
                            <div class="bar">
                                <div class="pops phish">40%</div>
                            </div><br>
                        </div>
                    </div><br>
                </div>
                <div class="span-col-3">
                    <div class="no">
                        <hr>
                        <h2>Top security events</h2>
                        <div class="events">
                            <h4>By Domain</h4>
                            <div class="grid-3 top">
                                <p>Domain</p>
                                <p>Request</p>
                                <p>Frequency</p>
                            </div>
                            <hr style="margin-top: 0.2em;">
                            <div class="grid-3">
                                <div style="border-right: 1px solid; border-left:1px solid;">
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                </div>
                                <div style="border-right: 1px solid;">
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                </div>
                                <div style="border-right: 1px solid;">
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                    <p>No data for this period yet</p>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <h4>By Identity</h4>
                            <div class="grid-2 top">
                                <p>Domain</p>
                                <p>Request</p>
                                <p>Frequency</p>
                            </div>
                            <hr style="margin-top: 0.2em;">
                            <p style="text-align:center;">No data for this period yet</p>
                        </div>
                        <div class="new-container">
                            <h2>Deployment summary</h2>
                            <div class="grid-3">
                                <div class="summary">
                                    <h4>Networks</h4>
                                    <h1>0%</h1>
                                    <p>Active</p>
                                </div>
                                <div class="summary">
                                    <h4>Roaming clients</h4>
                                    <h1>0%</h1>
                                    <p>Active</p>
                                </div>
                                <div class="summary">
                                    <h4>Virtual Appliances</h4>
                                    <h1 class="hd">0%</h1>
                                    <p class="hd">Active</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
</body>

</html
