<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <title>base</title>
</head>

<body style="background-color: #EAF2F8;">
    <header>
        <nav class="myNavbar">
            <div class="my-container">
                <div>
                    <ul class="myNav">
                        <li>
                            <a href="../../../index.html">SMETracker<sup><small >2018</small></sup></a>
                        </li>
                        <li class="right"><a href="adminlogin.html"> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="signup">
        <h1>
            <span class="smallerFont">Maintenance</span>&#x2606;Tracker
        </h1>
        <form action="admin.html">
            <div class="imgcontainer">
                <p>Superuser login</p>
            </div>

            <div class="container">
                <input type="text" placeholder="Enter Email" name="email" required>
                <input type="password" placeholder="Enter Password" name="pass" required>
                <button type="submit" class="sella">Login</button>
            </div>
            <div class="container">
                <span class="asheuh"><a href="#">Forgot password?</a></span><br>
            </div>
        </form>
    </div><br><br><br><br><br>

    <div class="my-footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>

</body>

</html>

