<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
    <div class="sidebar block">
        <div class="desktop">
            <div id="brand">
                <h3 class="side-link" style="text-align: center;"><a href="index.html">M&#x2606;Tracker</a></h3>
            </div>
            <div id="logo">
                <img src="../../static/images/logo-ex-7.png">
            </div>
            <div class="menu">
                <a href="#" class="side-link link"><i class="fas fa-tachometer-alt"></i></i>  Dashboard</a>
                <a href="#" class="dropdown-btn side-link link"><i class="fas fa-bell"></i> My Requests<i style="float: right;" class="fas fa-caret-down"></i></a>
                <div class="dropdown-container">
                    <a href="#">All</a>
                    <a href="#">Approved</a>
                    <a href="#">Rejected</a>
                    <a href="#">Resolved</a>
                    <a href="#">Create request</a>
                </div>
                <a href="#" class="side-link link"><i class="fas fa-users"></i> Users</a>
                <a href="#" class="side-link link"><i class="fas fa-user-circle"></i> My account</a>
            </div>
            <footer>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-google-plus-square"></i></a>
                </div>
            </footer>
        </div>
    </div>
    <div class="fluid">
        <nav class="myNavbar">
            <div class="nav-header">
                <div>
                    <ul class="myNav">
                        <li>
                            <a href="index.html">MTracker<sup><small >2018</small></sup></a>
                        </li>
                        <li class="right"><a href="mains/login.html"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        <li class="right"><a href="#"><i class="fas fa-user"></i> Username</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr>
        <div class="container">
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <h2>All requests</h2>
                        <div class="panel pale-green">
                            <p style="color:#A9CCE3">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p style="color:#A9CCE3">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p style="color:#A9CCE3">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p style="color:#A9CCE3">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p style="color:#A9CCE3">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container">
                        <div class="filter-card card">
                            <h3>FILTER</h3>
                            <hr>
                            <h4>By Approved</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Yes</a></li>
                                <li><a href="#">No</a></li>
                            </ul>
                            <h4>By Rejected</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Yes</a></li>
                                <li><a href="#">No</a></li>
                            </ul>
                            <h4>By Resolved</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Yes</a></li>
                                <li><a href="#">No</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/js/app.js "></script>
</body>

</html>