<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/app.js "></script>

</head>

<body>
    <div w3-include-html="usermenu.html"></div>
    <script>
        includeHTML();
    </script>
   <div class="content">
        <div class="asheuh-container">
            <div class="my-container details tab">
                <h1>My requests</h1>
                <hr>
                <table id="requests">
                    <thead>
                        <tr>
                            <th>RequestID</th>
                            <th>Malware</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#12354</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color:green">Approved</td>
                        </tr>
                        <tr>
                            <td>#86746</td>
                            <td>Internet connection</td>
                            <td>Slowing internet connection</td>
                            <td style="color:green">Approved</td>
                        </tr>
                        <tr>
                            <td>#84639</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color: green">Approved</td>
                        </tr>
                        <tr>
                            <td>#26735</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color: #f44336">Rejected</td>
                        </tr>
                        <tr>
                            <td>#29674</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color:#2E86C1">Resolved</td>
                        </tr>
                        <tr>
                            <td>#47568</td>
                            <td>Helen Bennett</td>
                            <td>Poor internet connection</td>
                            <td style="color:#2E86C1">Resolved</td>
                        </tr>
                        <tr>
                            <td>#85634</td>
                            <td>Phishing</td>
                            <td>System overload</td>
                            <td style="color:#2E86C1">Resolved</td>
                        </tr>
                        <tr>
                            <td>#97463</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color: #f44336">Rejected</td>
                        </tr>
                        <tr>
                            <td>#08733</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color:green">Approved</td>
                        </tr>
                        <tr>
                            <td>#81729</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color: #f44336">Rejected</td>
                        </tr>
                        <tr>
                            <td>#16498</td>
                            <td>Phishing</td>
                            <td>Poor internet connection</td>
                            <td style="color:#2E4053;">Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="id01" class="modal">

                <form class="modal-content animate" action="/action_page.php">
                    <div class="scontainer">
                        <label style="float:left;" for="uname"><b>Your name</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <label style="float:left" for="psw"><b>Request type</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <label style="float:left" for="psw"><b>Describe the problem</b></label>
                        <textarea id="subject" name="subject" placeholder="Description..." style="height:200px"></textarea>
                        <a href="#" class="btn btn-success" type="submit">Submit</a>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <a class="btn btn-danger" href="#" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
</body>

</html>
