<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/test.js"></script>
</head>

<body>
    <div w3-include-html="test.html"></div>
    <div class="content">
        <div class="asheuh-container">
            <div class="my-container details">
                <h1>Poor internet connection</h1>
                <hr>
                <h4>Owner: Bryan Mboya</h4>
                <h4>Organisation: Bashtech</h4>
                <h4>Date Reported: April 25, 2018, 7:38PM</h4>
                <h4>Description</h4>
                <p>A poorly performing internet connection can be caused by broadband router configuration errors, wireless interference, or any of several other technical issues with your home network. Use these tips to diagnose and fix the causes of your
                    slow internet connection
                </p>
                <p style="color: #f44336"><small style="color: rgb(45, 137, 199)">Status: </small><small>Rejected</small></p>
                <a href="resolve.html" class="btn btn-primary">Resolve</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
    <script>
        includeHTML();
    </script>
    <script src="../../static/js/app.js "></script>
</body>

</html>