<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
    <div class="sidebar block">
        <div class="desktop">
            <div id="brand">
                <h3 class="side-link" style="text-align: center;"><a href="index.html">M&#x2606;Tracker</a></h3>
            </div>
            <div id="logo">
                <img src="../../static/images/logo-ex-7.png">
            </div>
            <div class="menu">
                <a href="#" class="side-link link"><i class="fas fa-tachometer-alt"></i></i>  Dashboard</a>
                <a href="#" class="dropdown-btn side-link link"><i class="fas fa-bell"></i> Requests<i style="float: right;" class="fas fa-caret-down"></i></a>
                <div class="dropdown-container">
                    <a href="#">All</a>
                    <a href="#">Approved</a>
                    <a href="#">Rejected</a>
                    <a href="#">Resolved</a>
                    <a href="#">Create request</a>
                </div>
                <a href="#" class="side-link link"><i class="fas fa-users"></i> Users</a>
                <a href="#" class="side-link link"><i class="fas fa-user-circle"></i> My account</a>
            </div>
            <footer>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-google-plus-square"></i></a>
                </div>
            </footer>
        </div>
    </div>
    <div class="fluid">
        <nav class="myNavbar">
            <div class="nav-header">
                <div>
                    <ul class="myNav">
                        <li>
                            <a href="index.html">MTracker<sup><small >2018</small></sup></a>
                        </li>
                        <li class="right"><a href="mains/login.html"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        <li class="right"><a href="#"><i class="fas fa-user"></i> Username</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr>
        <div class="my-container details">
            <h1>Poor internet connection</h1>
            <hr>
            <h4>Owner: Bryan Mboya</h4>
            <h4>Organisation: Bashtech</h4>
            <h4>Date Reported: April 25, 2018, 7:38PM</h4>
            <h4>Description</h4>
            <p>A poorly performing internet connection can be caused by broadband router configuration errors, wireless interference, or any of several other technical issues with your home network. Use these tips to diagnose and fix the causes of your slow
                internet connection
            </p>
            <p style="color: #f44336"><small style="color: rgb(45, 137, 199)">Status: </small><small>Rejected</small></p>
        </div>
    </div>
    <script src="../../static/js/app.js "></script>
</body>

</html>