<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="shortcut icon" href="../../static/images/H-logo.ico">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/app.js "></script>
</head>

<body>
    <div w3-include-html="menu.html"></div>
    <script>
        includeHTML();
    </script>
   <div class="content">
        <div class="asheuh-container">
            <div class="grid-1">
                <div class="card">
                    <h2 style="margin-left:1em;">All requests</h2>
                    <div class="grid-4">
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>New</small></p>
                                <div class="grid-4">
                                    <a href="#" class="btn btn-success">Accept</a>
                                    <a href="#" class="btn btn-danger">Reject</a>
                                </div>
                                <div class="col">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>New</small></p>
                                <div class="grid-4">
                                    <a href="#" class="btn btn-success">Accept</a>
                                    <a href="#" class="btn btn-danger">Reject</a>
                                </div>
                                <div class="col">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>New</small></p>
                                <div class="grid-4">
                                    <a href="#" class="btn btn-success">Accept</a>
                                    <a href="#" class="btn btn-danger">Reject</a>
                                </div>
                                <div class="col">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>New</small></p>
                                <div class="grid-4">
                                    <a href="#" class="btn btn-success">Accept</a>
                                    <a href="#" class="btn btn-danger">Reject</a>
                                </div>
                                <div class="col">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-4">
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>Approved</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>Approved</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>Approved</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>Resolved</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-4">
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: #f44336"><small style="color: #A9CCE3">Status: </small><small>Rejected</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: #f44336"><small style="color: #A9CCE3">Status: </small><small>Rejected</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: #f44336"><small style="color: #A9CCE3">Status: </small><small>Rejected</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel pale-green">
                            <p class="asheuh">Username April 24, 2018, 7:30pm</p>
                            <hr>
                            <h4>Poor internet connection</h4>
                            <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
                            <div class="row">
                                <div class="col-2">
                                    <p style="color: green"><small style="color: #A9CCE3">Status: </small><small>Approved</small></p>
                                </div>
                                <div class="col-2">
                                    <p><small><a style="color:#A9CCE3;" href="request_details.html">Read more</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
</body>

</html>
