<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/app.js "></script>
</head>

<body>
    <div w3-include-html="menu.html"></div>
    <script>
        includeHTML();
    </script>
   <div class="content">
        <div class="asheuh-container">
            <div class="my-container details">
                <h1>Resolve a this request</h1>
                <hr>
                <form>
                    <label style="font-size: 24px;" for="message">Provide Solution</label>
                    <textarea id="subject" name="subject" placeholder="Write solution..." style="height:200px"></textarea><br /><br />
                    <a href="#" type="submit" class="btn btn-primary">Submit</a>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
</body>

</html>
