<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <title>base</title>
</head>

<body>
    <header>
        <nav class="myNavbar">
            <div class="my-container">
                <div>
                    <ul class="myNav">
                        <li>
                            <a href="../index.html">SMETracker<sup><small >2018</small></sup></a>
                        </li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="right"><a href="login.html"> Login</a></li>
                        <li class="right"><a href="#"> Signup</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="signup">
        <h1>
            <span class="smallerFont">Maintenance</span>&#x2606;Tracker
        </h1>
        <form action="">
            <div class="container">
                <p>Please fill in this form to create an account.</p>
                <hr>
                <input type="text" placeholder="Enter Email" name="email" required>
                <input type="password" placeholder="Enter Password" name="pass" required>
                <input type="password" placeholder="Confirm Password" name="confirm" required>
                <hr>
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                <button type="submit" href="home.html" class="sella">Register</button>
            </div>

            <div class="container signin">
                <p>Already have an account? <a href="login.html">Sign in</a>.</p>
            </div><br>
            <div class="separator">
                <span class="separator-text">OR</span>
            </div>
            <div class="socmed-login">
                <a href="#g-plus" class="socmed-btn google-btn">
                    <span>Signup with Google</span>
                </a>
            </div>
        </form>
    </div><br>

    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>

</body>

</html>