<!DOCTYPE html>
<html>
<title>home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/asheuh-framework.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/app.js "></script>
</head>

<body>
    <div w3-include-html="menu.html"></div>
    <script>
        includeHTML();
    </script>
    <div class="content">
        <div class="asheuh-container">
            <div class="my-container-fluid">
                <div>
                    <div class="grid-6">
                        <div>
                            <img style="width: 200px; border-radius: 12em;" src="../../static/images/Asheuh.jpg">
                        </div>
                        <div class="span-col-5">
                            <h1 style="margin-top:1em">Bryan Mboya(Asheuh)</h1>
                            <p><small><i>Nairobi, Kenya</i></small></p>
                            <p>Phone: <i>+(254) 700 546 241</i></p> 
                            <div class="social-icons">
                                <a href="#"><i style="color:blue;" class="me fab fa-facebook-square"></i></a>
                                <a href="#"><i style="color:#ffc838" class="me fab fa-instagram"></i></a>
                                <a href="#"><i style="color:#3498DB;" class="me fab fa-twitter-square"></i></a>
                                <a href="#"><i style="color:#21618C;" class="me fab fa-linkedin-in"></i></a>
                                <a href="#"><i style="color:red;" class="me fab fa-google-plus-square"></i></a>
                                <a href="#"><i style="color:black;" class="me fab fa-github-square"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="my-details">
                        <div>
                            <h4>Organization: <i>Bashtech</i> <a style="color: blue;" href="https://asheuh.github.io">Bashtech</a></h4>
                            <h4>Email: <i>mboyabryan49@gmail.com</i></h4>
                            <h4>Interesting thing about me: <i>I'm smart</i></h4>
                            <h4>Gender: <i> Male</i></h4>

                            <h4>Birthday: <i>Not sure, i'm a time traveller</i></h4>
                        </div>
                    </div>
                    <div style="margin-top: 3em;" class="grid-5">
                        <div class="card span-col-4 Bio">
                            <div class="bio">
                                <h1>Bio</h1>
                                <hr>
                                I strongly believe in teamwork and consider myself hardworking, well motivated, honest and resourceful. 
                                Capable of working independently, i don't need to be supervised all the time because i believe i can handle myself,
                                i am committed to providing high quality service to every project. Excellent interpersonal and communication ability.
                                I can demonstrate admirable leadership abilities and use my talent in full. I have goals and dreams, some offont-family:
                                One of the awesome abilities that i pocess is that i am a problem solver. 
                                I see a problem and provide reliable solutions to the problem in hand.
                                I am also a creative thinker. And yeah, i am geek.
                            </div>
                        </div>
                        <div>
                            <h4>Please rate me</h4>
                            <p><i>Github rating</i></p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p><i>Darknet rating</i></p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="font-size: 12px;">&copy; Copyright 2018 SME, Inc. All Rights Reserved. <a class="default-link" href="#">Terms and Privacy</a></p>
    </div>
</body>

</html>
