body {
    margin: 0;
    background-color: #EAF2F8;
}

.link:hover {
    color: white!important;
    background-color: #34495E!important
}

h3 {
    font-weight: bold;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.container:after,
.container:before {
    content: "";
    display: table;
    clear: both
}

.container {
    padding: 0.01em 16px;
    width: 100%;
    margin-top: 2em;
}

.teal {
    color: #fff!important;
    background-color: #009688!important
}

h3 {
    font-size: 24px
}

h1,
h2,
h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.fluid {
    margin-left: 12%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.separator {
    margin: 20px 0;
    border-top: 1px solid #CCCCCC;
    position: relative;
}

.separator-text {
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -22px;
    padding: 0px 10px;
    background: #FFFFFF;
    color: #8a8a8a;
}


/*-- setting border box on all elements inside the grid --*/

.head {
    padding: 10px;
    font-size: 18px;
    line-height: 35px;
    font-family: 'SIMPSON';
}

.top_margin {
    margin-top: 10px
}

.count {
    font-size: 40px;
    padding: 15px;
    margin-top: -0.8em;
    font-family: 'SIMPSON';
}

span.fa-comment {
    position: absolute;
    font-size: 0.6em;
    top: -8px;
    color: red;
    right: -10px;
}

span.num {
    position: absolute;
    font-size: 0.4em;
    top: -6px;
    color: #fff;
    right: -4px;
}

a.fa-bell {
    position: relative;
    font-size: 1.6em;
    color: #A9CCE3;
    cursor: pointer;
}

@media all and (max-width:800px) {
    .head {
        padding: 10px;
        font-size: 18px;
        line-height: 35px;
        font-family: 'SIMPSON';
    }
    .top_margin {
        margin-top: 10px
    }
    .count {
        font-size: 40px;
        padding: 15px;
        margin-top: -0.8em;
        font-family: 'SIMPSON';
    }
    span.fa-comment {
        position: absolute;
        font-size: 0.6em;
        top: -4px;
        color: red;
        right: -7px;
    }
    span.num {
        position: absolute;
        font-size: 0.4em;
        top: -3px;
        color: #fff;
        right: -2px;
    }
    a.fa-bell {
        position: relative;
        font-size: 1.8em;
        color: #17202A;
        cursor: pointer;
        right: -3em;
    }
}

.style-row a {
    text-decoration: none;
    color: #5DADE2;
}

.filter-card {
    background-color: rgba(214, 219, 223, 0.377);
    width: 50%;
    float: right;
}

.filter-card a {
    text-decoration: none;
    color: #A9CCE3;
}

.search-container {
    float: right;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 100%;
    border: none;
}

a {
    text-decoration: none;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    .search-container input[type=text],
    .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .search-container input[type=text] {
        border: 1px solid #ccc;
    }
}

ul.list {
    list-style-type: none;
}

.details h4 {
    font-family: 'SIMPSON';
    font-size: 16px;
}

.create {
    margin-top: 10em;
}

.circle:before {
    content: ' \25CF';
    font-size: 50px;
}

.create-as {
    background-color: #5DADE2;
}

.create-as i {
    font-size: 5em;
}

.dad {
    padding-left: 20px;
    margin-top: 2.1em;
    font-size: 18px;
}

p.dad {
    color: white;
}

.mom {
    padding-left: 10px;
}

p.mom {
    color: white;
}

.asheuh-container {
    margin-top: 4em;
}

@media all and (max-width: 900px) {
    .ha {
        display: none;
    }
}

footer {
    margin-top: 23em;
    text-align: center;
}

@media all and (max-width: 900px) {
    footer {
        margin-top: 0;
        text-align: center;
    }
}

.wa {
    margin-right: 0.7em;
}

.social-icons a {
    color: white;
    font-size: 22px;
    padding: 5px;
}

#brand {
    text-align: center;
    margin-top: 3em;
}

#brand a {
    text-decoration: none;
    color: gold;
}

#logo {
    text-align: center;
}

#logo img {
    width: 100px;
}

form {
    display: inline-block;
    width: 35%;
}

@media all and (max-width:1093px) {
    form {
        width: 100%;
    }
}

.signin {
    background-color: #f1f1f17c;
    text-align: center;
}

#signup {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

ul.myNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 43px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.534);
}

ul.myNav li {
    float: left;
}

ul.myNav li a {
    display: block;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.myNav li a:hover:not(.active) {
    background-color: white;
}

ul.myNav li a.active {
    background-color: #4CAF50;
}

ul.myNav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.myNav li.right,
    ul.myNav li {
        float: none;
    }
}

.sella {
    background-color: rgb(25, 54, 50);
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.sella:hover {
    opacity: 1;
}

.socmed-login .socmed-btn {
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
}

* {
    box-sizing: border-box
}

.bar {
    width: 100%;
    background-color: #ddd;
}

.pops {
    text-align: right;
    padding-right: 20px;
    line-height: 7px;
    margin-top: 3em;
    border-radius: 3px solid;
    color: white;
}

.mal {
    width: 10%;
    background-color: gold;
}

.dis {
    width: 3%;
    background-color: #2196F3;
}

.command {
    width: 10%;
    background-color: #f44336;
}

.phish {
    width: 40%;
    background-color: #808080;
}

.this-container {
    background-color: #F4ECF7;
}

.events {
    background-color: rgba(255, 255, 255, 0.774);
    ;
}

.top {
    margin-top: -1.3em;
}

.summary p {
    margin-top: -1em;
}

.summary {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.774);
}

.footer {
    position: fixed;
    left: 15%;
    bottom: 0;
    width: 85%;
    float: right;
    color: #343434;
    text-align: center;
    border-top: 0.2px solid #808080ee;
}

.footer p {
    margin-top: 1em;
}

.footer p a {
    color: blue;
    text-decoration: none;
    margin: 0 5px
}

.footer p a:hover {
    text-decoration: underline
}

@media all and (max-width: 1093px) {
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        float: right;
        color: #343434;
        text-align: center;
        border-top: 0.2px solid #808080ee;
    }
}

#requests {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 0;
}

#requests td,
#requests th {
    border: 1px solid #ddd;
    padding: 8px;
}

#requests tr:nth-child(even) {
    background-color: #f2f2f2;
}

#requests tr:hover {
    background-color: #ddd;
}

#requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gold;
    color: black;
}

#requests tr:nth-of-type(odd) {
    background: #eee;
}

@media only screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px) {
    /* Force table to not be like tables anymore */
    .my-container {
        width: 100%;
        margin: auto;
        padding: 20px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .tab h1 {
        text-align: center;
    }
}